@use "@assets/styles/variables" as var;

.navigation_tab {
  /* Tab */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 12px;
  gap: 12px;

  height: 20px;
  cursor: pointer;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

  .label {
    /* ABOUT */

    height: 19px;

    font-family: var.$NOTO_SANS_JP;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;

    /* system/gray800 */
    color: var.$GRAY800;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  svg {
    stroke: var.$GRAY800;
  }
}
