@use "@assets/styles/variables" as var;
@use "@assets/styles/mixins" as mix;

.section {
  @include mix.container;
  /* ABOUT */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 48px;
  gap: 0px;

  &.white {
    background: var.$WHITE000;
  }
  &.gray {
    background: var.$GRAY050;
  }

  /* Inside auto layout */
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;

  .title_and_discription {
    /* Title */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

    .title {
      /* タイトル */

      font-family: var.$NOTO_SANS_JP;
      font-style: normal;
      font-weight: 500;
      font-size: 36px;
      line-height: 43px;
      display: flex;
      align-items: center;

      /* system/gray900 */
      color: var.$GRAY900;

      /* Inside auto layout */
      flex: none;
      order: 0;
      flex-grow: 0;
    }

    .description {
      /* 詳細説明 */
      font-family: var.$NOTO_SANS_JP;
      font-style: normal;
      font-weight: 350;
      font-size: 16px;
      line-height: 19px;
      display: flex;
      align-items: center;

      /* system/gray900 */
      color: var.$GRAY900;

      /* Inside auto layout */
      flex: none;
      order: 1;
      flex-grow: 0;
    }

    // タブレット向け
    @media (min-width: var.$BREAKPOINT_SM) and (max-width: (var.$BREAKPOINT_MD - 1px)) {
      .title {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
      }

      .description {
        font-weight: 350;
        font-size: 16px;
        line-height: 19px;
      }
    }
  }
}
