@use "@assets/styles/variables" as var;

.input {
  /* Input */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;

  min-width: 240px;
  height: 40px;

  background: var.$WHITE000;
  border: 1px solid #d9d9d9;
  border-radius: 8px;

  /* Inside auto layout */
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;

  font-family: var.$NOTO_SANS_JP;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;

  color: var.$GRAY900;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;

  outline: none;

  &::placeholder {
    color: var.$GRAY500;
  }
}
