---
import { Image } from 'astro:assets';
import logo from '@/assets/logo.svg';
---

<header class="fixed top-0 left-0 z-10 px-[24px] py-[10px] w-full">
  <button>
    <Image src={logo} alt="logo" fetchpriority="high"/>
  </button>
</header>

