@use "@assets/styles/variables" as var;

.button {
  /* Button */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 48px;
  gap: 10px;

  width: 128px;
  height: 40px;

  /* system/gray800 */
  background: var.$GRAY800;
  border-radius: 6px;

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;

  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height, or 16px */

  /* system/white000 */
  color: var.$WHITE000;
}
