@use "@assets/styles/variables" as var;
@use "@assets/styles/mixins" as mix;

.footer {
  @include mix.container;
  /* Footer */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 48px 24px;
  gap: 48px;

  background: var.$WHITE000;

  /* Inside auto layout */
  flex: none;
  order: 5;
  align-self: stretch;
  flex-grow: 0;

  .logo_and_navigation {
    /* Logo & Navigation */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 96px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

    .navigation {
      /* Navigation */

      /* Auto layout */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 12px;
      gap: 24px;
      width: 98px;
      height: 172px;

      /* Inside auto layout */
      flex: none;
      order: 1;
      flex-grow: 0;

      .navigation_tab {
        /* TOP */

        width: 33px;
        height: 19px;

        font-family: var.$NOTO_SANS_JP;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        cursor: pointer;

        /* system/gray700 */
        color: #616161;

        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;
      }
    }
  }

  // スマートフォン向け
  @media (max-width: (var.$BREAKPOINT_SM - 1px)) {
    gap: 96px;

    .logo_and_navigation {
      flex-direction: column;
      gap: 48px;
    }
  }

  // タブレット向け
  @media (min-width: var.$BREAKPOINT_SM) and (max-width: (var.$BREAKPOINT_MD - 1px)) {
    gap: 96px;

    .logo_and_navigation {
      gap: 48px;
    }
  }

  .copyright {
    /* Copy Right */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

    /* ©︎2025 株式会社慧陽社 */

    font-family: var.$NOTO_SANS_JP;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    /* system/gray700 */
    color: var.$GRAY700;
  }
}
