/* Size */
$BREAKPOINT_SM: 767px;
$BREAKPOINT_MD: 1023px;
$BREAKPOINT_LG: 1920px;

/* Color */
$WHITE000: #ffffff;
$GRAY050: #fafafa;
$GRAY100: #f5f5f5;

$GRAY700: #616161;
$GRAY800: #424242;
$GRAY900: #212121;
$BLAK1000: #000000;
