@use "@assets/styles/variables" as var;
@use "@assets/styles/mixins" as mix;

.header_container {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;

  .header {
    @include mix.container;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 24px;
    gap: 36px;

    height: 60px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);

    .navigation {
      /* Navigation */

      /* Auto layout */
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      padding: 6px 12px;
      gap: 12px;

      width: 408px;
      height: 40px;

      /* Inside auto layout */
      flex: none;
      order: 1;
      align-self: stretch;
      flex-grow: 0;
    }

    .hamburger {
      display: none;
      cursor: pointer;
      svg {
        stroke: var.$GRAY800;
      }
    }

    // スマートフォン向け
    @media (max-width: (var.$BREAKPOINT_SM - 1px)) {
      justify-content: space-between;

      .navigation {
        display: none;
      }

      .hamburger {
        display: block;
      }
    }
  }
}

.navigation_tab {
  /* Tab */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 12px;
  gap: 12px;

  height: 20px;
  cursor: pointer;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

  .label {
    /* ABOUT */

    height: 19px;

    font-family: "Noto Sans JP";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;

    /* system/gray800 */
    color: var.$GRAY800;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  svg {
    stroke: var.$GRAY800;
  }
}
