@use "@assets/styles/variables" as var;
@use "@assets/styles/mixins" as mix;

.header {
  @include mix.container;

  /* Header */
  position: fixed;
  z-index: 10;
  top: 0;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 24px;
  gap: 36px;

  height: 60px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;

  .navigation {
    /* Navigation */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 6px 12px;
    gap: 12px;

    width: 408px;
    height: 40px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
}

.navigation_tab {
  /* Tab */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 12px;
  gap: 12px;

  height: 20px;
  cursor: pointer;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

  .label {
    /* ABOUT */

    height: 19px;

    font-family: "Noto Sans JP";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;

    /* system/gray800 */
    color: #424242;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }
}
